/*
// Both font-awesome and bootstrap-icons are linked in public index.html
@import '/css/bootstrap.min.css'; // in main.js
@import '/css/style.css'; // in main.js
*/

:root {
  --primary: #00B98E;
  --light: #EFFDF5;
  --dark: #0E2E50; /* or #1C1C1C */
  --charcoal-grey: #343A40;
  --medium-grey: #6C757D;
  --light-grey: #F0F2F5;
  --gold: #C6A059; /* Primary */
  --gold-light: #DAB97C;
  --gold-dark: #B28B48;
  --gold-deep: #A17A3A;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.gold-gradient {
  color: var(--gold) !important;
  background: linear-gradient(to top, var(--gold-light) 0%, var(--gold-deep) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}